body {
  font-family: Arial, sans-serif;
  background: #1D272F;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: #1E2830;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #5CA9E6;
}

label {
  display: block;
  margin-top: 15px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: #5CA9E6;
  color: #000;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #1F3A63;
  color: #fff;
}

.resultado {a
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #1C262E;
  text-align: center;
}
